@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="color:dimgray">
    <img class="background darkBackground" src="https://www.convictiontraining.com/wp-content/uploads/2016/06/knuckle-push-up-1200x750.jpg" alt="Background">
</div>