@model IEnumerable<WorkoutInfoModel>

@{
    ViewData["Title"] = "All Workouts";
}

<h2 style="color:white">All Workouts</h2>

<body>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <a href="/workouts/workouts/details/@item.Id">
                    <img src="@item.ImageUrl" width="300" alt="@item.Name" class="img-responsive" />
                </a>
                <br />
            </div>
        }
    </div>
</body>

@*<table class="table table-bordered table-hover">
        <tbody>

        </tbody>
    </table>*@