@model IEnumerable<ProgramInfoModel>

@{
    ViewData["Title"] = "All Programs";
}

<h2>All Programs</h2>

<body>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <a href="/programs/programs/details/@item.Id">
                    <img src="@item.ImageUrl" width="400" alt="@item.Name" class="img-responsive" />
                    @*@if (User.Identity.IsAuthenticated)
                      {
                          <a class="btn btn-sm btn-warning" href="/programs/programs/edit/@item.Id">Edit</a>
                          <a class="btn btn-sm btn-danger" href="/programs/programs/delete/@item.Id">Delete</a>
                      }*@
                </a>
                <br />
            </div>
        }
    </div>
</body>

@*<table class="table table-bordered table-hover">
        <tbody>

        </tbody>
    </table>*@